.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box{
  margin-left: 5%;
  margin-right: 5%;
}
.loginbox{
  margin-left: 40%;
}
.form_box{
  margin-left: 28%;
}
h1,p{
  font-family: lato;
}
.developers{
  background-color: #366d03d0;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 height: 300px;
 width: 300px; 
}
.about{
display: flex;
justify-content: space-around;
align-items: center;
}
h1{
  font-size: 29px;
  font-family: verdana;
}
p{
  font-size: large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.personal{
  display: flex;
  flex-direction: row;
}
.fname{
  width: 33%
}
.mname{
  padding-left: 10px;
  width: 33%
}
.lname{
  padding-left: 10px;
  width: 33%;
}
.email{
  width: 50%
}
.phone{
  padding-left: 10px;
  width: 50%
}
.password{
  width: 50%;
}
.confirmpassword{
  padding-left: 10px;
  width: 50%;
}
.idinfo{
  display: flex;
  flex-direction: row;
}
.sid{
  width: 50%
}
.fid{
  padding-left: 10px;
  width: 50%
}
.acinfo{
  display: flex;
  flex-direction: row;
}
.dept{
  width: 50%;
}
.batch{
  padding-left: 10px;
  width: 50%
}
.gender_fid{
  display: flex;
  flex-direction: row;
}
.gender{
  width: 50%;
  padding-top: 16px;;
}
.first_day{
  display: flex;
  flex-direction: row;
}
.course{
  padding-top: 10px;
  width: 33%
}
.date{
  padding-left: 10px;
  padding-top: 10px;
  width: 33%
}
.time{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  width: 33%;
}
.from{
  padding-left: 10px;
  width: 50%;
}
.to{
  padding-left: 10px;
  width: 50%;
}
.update_admin_fname{
  width: 50%;
}
.update_admin_mname{
  padding-left: 10px;
  width: 50%;
}
